*{
    margin: 0px;
}
html{
    height: 100%;
    background: linear-gradient(#0046ae, #9198e5);
}
div{
   height: 400px;
   width: 270px;
   margin: 0px auto;
   margin-top: 165px; 
   border-radius: 17px;
   box-shadow: 4px 4px 4px rgba(34, 34, 34, 0.65);
   background: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
}
img{
    height: 220px;
    width: 220px;
    border-radius: 17px;
    margin-left: 25px;
}
img:hover{
    box-shadow: 3px 3px 3px rgba(28, 28, 28, 0.658);
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(43, 42, 42, 0.721);
    margin-top: 5px;
    margin-bottom: 10px;
}
.one{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(43, 42, 42, 0.721);
    margin-top: 0px;
    margin-bottom: 0px;
}
.two{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(48, 48, 48);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(43, 42, 42, 0.721);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 7px;
}
.two:hover{
    cursor: pointer;
    color: black;
}
li{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.time1{
    margin-right: 135px;
}
.time2{
    padding-left: 15px;
}
.time{
    padding-left: 15px;
}
input{
    margin-left: 15px;
    width: 240px;
}
.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.back,
.for,
.play:hover -> {
    border-color: #bebebe;
}
.button2{
    margin-left: 26px;
}
.button3{
    margin-left: 26px;
}
